<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>

<body>
<h1>Add your Note:</h1>

<form action="#" th:action="@{/list}" th:object="${notes}" method="post">
    <p>Your Note: <input type="text" th:field="*{text}" /></p>
    <select name="importance">
        <option th:each="impOpt : ${T(com.example.demo.domain.ImportanceEnum).values()}"
                th:value="${impOpt}" th:text="${impOpt}"></option>
    </select>
    <p><input type="submit" value="Add" />
</form>

<h1>YOUR NOTES:</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Importance</th>
        <th>Text</th>
        <th>Timestamp</th>
    </tr>
    <tr  th:each="note : ${listofnotes}">

        <th th:utext="${note.id}"></th>

        <th th:utext="${note.importance}"></th>

        <th th:utext="${note.text}"></th>

        <th th:utext="${note.timestamp}"></th>

    </tr>
</table>

</body>

</html>
